---
import Layout from "../layouts/Layout.astro";
import { baseUrl } from "../utils";
---

<Layout title="Lo sentimos, página no encontrada">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-7xl font-bold">404</h1>
    <img
      src={baseUrl("img/this-is-fine.gif")}
      alt="This is fine "
      class="w-1/2 mx-auto py-4"
    />
    <p class="text-3xl">Página no encontrada</p>
  </div>
</Layout>
