---
import { baseUrl } from "../utils";
---

<div class="relative">
  <img class="hero-img" src={baseUrl("img/hero-travel.png")} alt="Travel" />
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div
    class="absolute inset-0 flex flex-col justify-center items-center lg:items-start"
  >
    <div class="lg:pl-10">
      <h2
        class="font-montserrat text-4xl lg:text-6xl font-bold text-center lg:text-left text-amber-300 text-"
      >
        Vive las aventuras
      </h2>
      <p
        class="font-montserrat text-xl lg:text-2xl font-bold text-center lg:text-left text-amber-100"
      >
        Conoce los mejores lugares del mundo
      </p>
    </div>
  </div>
</div>

<style>
  .hero-img {
    max-height: 80vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
</style>
